{% extends "shop/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
  <div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / <a href="{% url 'password_reset' %}">Сброс пароля</a>
      / Пароль сброшен</p>
    <p>На Ваш почтовый ящик были отправлены инструкции для смены пароля.</p>
    <p>Доставка письма осуществляется в течении нескольких минут.</p>
    <p>Если вы не получили письмо, пожалуйста, удостоверьтесь, что почтовый ящик введен верно.</p>
  </div>
{% endblock %}