{% extends "shop/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div id="main">
  <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / <a href="{% url 'password_reset' %}">Сброс пароля</a>
      / Смена пароля</p>
  {% if validlink %}
    <p>Пожалуйста, введите новый пароль:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Сменить пароль"></p>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля была недействительной. Пожалуйста, попробуйте снова сбросить пароль</p>
  {% endif %}
  </div>
{% endblock %}