{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{ objective.name }}
{% endblock %}

{% block content %}

<div id="main">
 <a href="{% url 'shop:index' %}">MrPiT.online</a> / {{ objective.name }}  <br><br>

        <p> Никак не получается выбрать?(</p>
        <p> Воспользуйся нашим <a href="{% url 'shop:calc' %}">калькулятором подбора спортивного питания</a></p>
            {{ objective.description }}
            {% if categories_p %}
                 {% for category in categories_p %}
                 <div class="list">
                   <h2>{{ category.name }}</h2>
                    {% for product in category.products_by_category %}
                    <div class="obj-item">
                        <a href="{{ product.get_absolute_url }}">
                        <img src="{% thumbnail product.image 150x200 crop %}">
                        </a><br>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                        <text style="color:orange"> {{ product.size }}</text> <br>
                        {% if product.quantity == False %}
                            Под заказ
                        {% else %}
                           {% if product.price2 %}
                             <s>{{ product.price2 }} р.</s> {{ product.price }} р.
                                {% else %}
                            {{ product.price }} р.
                                {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                 </div>
                  {% endfor %}
            {% else %}

                {% for offer in offers %}
                <h2>Набор <text style="color:crimson"> "{{offer}}"</text></h2>
                <div class="offer_price">
                    <div class="product_list">
                        <div class="item-list">
                       {% for product in offer.products_by_offer %}

                             <div class="plus">
                                <h1>+</h1>
                             </div>

                            <div class="obj-item">
                                <a href="{{ product.get_absolute_url }}">
                                <img src="{% thumbnail product.image 150x200 crop %}">
                                </a><br>
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                                <text style="color:orange"> {{ product.size }}</text> <br>
                                {% if product.quantity == False %}
                                    Под заказ
                                {% else %}
                                   {% if product.price2 %}
                                     <s>{{ product.price2 }} р.</s> {{ product.price }} р.
                                        {% else %}
                                    {{ product.price }} р.
                                        {% endif %}
                                {% endif %}
                            </div>
                       {% endfor %}
                       </div>

                        <div class="buy_offer">
                            <div class="offer_description">
                                <p>{{ offer.description }}</p>
                                <p style="color:red;">Цена набора: {{ offer.price }} р. </p>
                                {% if 2000 <= offer.price and offer.price < 5000 %}
                                    <div class="gift">
                                        <p>*Протеиновый батончик в подарок!</p>
                                    </div>
                                {% endif %}
                                {% if offer.price > 5000 %}
                                    <div class="gift">
                                        <p>*Фирменный шейкер в подарок!</p>
                                    </div>
                                {% endif %}
                                <form action="{% url 'cart:add_offer' offer.id %}" method="post">
                                    <input type="submit" value="В корзину">
                                    {% csrf_token %}
                                </form>
                            </div>
                            <div class="offer_image">
                                <img src="{% thumbnail offer.image 200x200 crop %}">
                             </div>
                        </div>
                    </div>
                </div> <br>
                {% endfor %}
            {% endif %}
</div>
{% endblock %}