{% extends "shop/base.html" %}
{% block title %} Товары под заказ{% endblock %}
{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / <a href="{% url 'cart:cart_detail' %}">Корзина</a>
    / Товары под заказ </p>
    <p>Вы можете заазать товары, которые отсутствуют в данный момент на складе</p>
    <p>Срок доставки заказов по предоплате: одна рабочая неделя с момента заказа</p>
    <p>Срок доставки заказов без предоплаты: 2-4 рабочих недели с момента заказа</p>
    <p>Заказ товаров осуществляется также через корзину. Статус заказа Вы можете увидеть в своём личном кабинете</p>
        {% if request.user.is_authenticated %}
    <p>Перейти в <a href="{% url 'profile' %}">Личный кабинет</a>
        {% else %}
    <p>Для входа в Личный кабинет, пожалуйста, <a href="{% url 'login' %}">авторизуйтесь </a>на сайте </p>
        {% endif %}
</div>
{% endblock %}