{% extends "shop/base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<div id="main">
    <a href="{% url 'shop:index' %}">MrPiT.online</a> / <a href="{% url 'cart:cart_detail' %}">Корзина</a>
    / Оформление заказа

    <h1 style="text-align:center">Оформление заказа</h1>
    <div class="accept">

        <div class="order-info">
            <h3>Ваш заказ:</h3>
            <ul>
                 {% for item in cart %}
                 <li>
                     {{ item.quantity }}x {{ item.flavour.product.name }} {{ item.flavour.product.size }} {{ item.flavour.name }}
                     <span>{{ item.total_price|floatformat:"2" }} р.</span>
                 </li>
                 {% endfor %}
                 {% if cart.coupon %}
                 <li>
                     Купон: "{{ cart.coupon.code }}" скидка: {{ cart.coupon.discount }}%
                     <span>- {{ cart.get_discount|floatformat:"2" }} р.</span>
                 </li>
                 {% endif %}
                <p>Итого: {{ cart.get_total_price_after_discount|floatformat:"2" }} р.</p>
            </ul>

        </div>

        <div class="tabs">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1" title="Perm"><i class="fa fa-car" aria-hidden="true">Доставка (г.Пермь)</i></label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" title="Samovivoz"><i class="fa fa-male" aria-hidden="true">Самовывоз (г.Пермь)</i></label>
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3" title="Russia"><i class="fa fa-truck" aria-hidden="true">Доставка по России </i></label>
            <section id="content-tab1">
                <p> Доставка осуществляется в пределах г. Пермь </p>
                <p>Стоимость доставки по городу, в зависимости от удаленности склада Вы можете посмотреть по ссылке <a href="{% url 'shop:delivery' %}"> Доставка</a> </p>
                <a href="#spoiler-open-1" id="spoiler-open-1" class="trigger open">Выбрать доставку в г. Пермь</a>
                <a href="#spoiler-close-1" id="spoiler-close-1" class="trigger close">Закрыть форму</a>
                <div class="spoiler">
                    {% if request.user.is_authenticated %}
                        <form action="." method="post" >
                              {% csrf_token %}
                             {{ perm_form.as_p }}
                            <input type="submit" name="perm_form" value="Подтвердить заказ">
                        </form>
                    {% else %}
                        <p style="color:red">Внимание!</p> Для того, чтобы отслеживать свой заказ просим Вас <a href="{% url 'login' %}">авторизоваться</a> на сайте<br>
                    (доступна авторизация через сервисы "Вконтакте", "Facebook")
                    {% endif %}
                </div>
            </section>

            <section id="content-tab2">
               <p>На данный момент такая возможность отсутсвует.</p>
               <p>Все детали передачи выбранного Вами товара можно обсудить с менеджером после осуществления заказа.</p>
            </section>

            <section id="content-tab3">
                <p> Доставка осуществляется в пределах Российской Федерации </p>
                <p>Рассчитать стоимость можно на сайтах<a href="https://www.pochta.ru/parcels">Почты России</a> и <a href="https://cdek.ru/">СДЭК</a></p>
                <p>Дополнительную информацию Вы можете получить по ссылке: <a href="{% url 'shop:delivery' %}"> Доставка</a> </p>
                <p>В дальнейшем будет доступен автоматический расчет </p>
<!--                <p> Введите индекс для того, чтобы рассчитать стоимость доставки:</p>-->
<!--                <input type="text" placeholder="Введите индекс"><br>-->
<!--                <button> Рассчитать </button> <br>-->
                <a href="#spoiler-open-3" id="spoiler-open-3" class="trigger open">Выбрать доставку почтой</a>
                <a href="#spoiler-close-3" id="spoiler-close-3" class="trigger close">Закрыть форму</a>
                <div class="spoiler">
                     {% if request.user.is_authenticated %}
                    <form action="." method="post" >
                         {% csrf_token %}
                         {{ form.as_p }}
                        <input type="submit" name="form" value="Подтвердить заказ">
                    </form>
                    {% else %}
                        <p style="color:red">Внимание!</p> Для того, чтобы отслеживать свой заказ просим Вас <a href="{% url 'login' %}">авторизоваться</a> на сайте<br>
                    (доступна авторизация через сервисы "Вконтакте", "Facebook")
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}