@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.menu [type="checkbox"],
.menu label.toggleSubMenu {
    display:none;
}
.menu label.toggleMenu {
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    border-radius:10px;
    border:1px solid crimson;
    width:98%;
    height:50px;
    cursor: pointer;

}
.menu label.toggleMenu .fa  {
    position: absolute;
    top: 110px;
    right: 20px;
    font-size: 35px;
    color:silver;
}
.menu label.toggleSubMenu .fa {
    position: absolute;
    top: 10px;
    right: 20px;
}

@media all and (min-width: 200px) and (max-width: 1200px)  {
    h1 {
        font-size:25px;
    }
    .menu {
        overflow:hidden;
    }
    .menu ul {
        display:none;
     }
    .menu li {
        width:98%;
        border:none;
    }
    .menu li a{
        border:none;
    }
    .menu label.toggleMenu{
        display:block;
    }
    .menu li ul {
        width: 100%;
    }
    .menu li > ul li {
        float:none;
        width: 100%;
    }

    input.toggleMenu:checked + label.toggleMenu {
        background:grey;
        border:none;
        color: #fff;
    }
    input.toggleMenu:checked ~ ul,
    input.toggleSubMenu:checked ~ ul{
        display:block;
        position: relative;
    }
    .menu label.toggleSubMenu {
        position:absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    input.toggleSubMenu:checked ~ a {
        background: silver;
        color: #fff;
    }
    .menu label.toggleSubMenu .fa:before{
        content: "\f0d7";
        color:crimson;
    }
    .menu label.toggleSubMenu .fa {
        font-size:30px;
    }
    .menu input.toggleSubMenu:checked ~ label.toggleSubMenu .fa:before {
        content: "\f0d8";
        color:crimson;
    }


    #header .logo img{
      display:none;
    }
    #header .logo1 {
        display:inline;
        position:absolute;
        top:10px;
        left:10px;
        font-size:20px;
    }
    .logo1 a {
        color:silver;
    }
     #subheader {
        height:50px;
    }
    #subheader .main_cart {
        font-size:25px;
        position:absolute;
        top:50px;
        left:10px;
    }
    .icon {
        top:0px;
        left:5px;
    }
    .search {
        position:absolute;
        top:105px;
        width:100%;
        left:15px;
        text-shadow: none;
        box-shadow:none;
    }
    .search input {
        background:#222222;
        border-radius:5px;
        height:40px;
        width:calc(185%);
        box-shadow:none;
    }
    .search input:focus {
        width:calc(185%);
    }

    .index {
        height:100%;
    }
    .screen img, .promo img{
         display:none;
    }
    .screen{
        width:90%;
    }
    .screen h1 {
        font-size:20px;
        margin-top:-10px;
    }
     .screen h2 {
        font-size:20px;
        margin-top:60px;
    }
    .big {
       font-size:20px;
       margin-top:30px;
       color:crimson;
    }

    .calc input[type='submit'] {
        width:100%;
    }

   .form_main {
     width:100%;
   }
    .form_main input[type=submit] {
         font-size:15px;
         text-align:center;
         margin-top:5px;
         margin-left:23%;
         width:200px;
    }

    #maintable td img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    #main {
        width:95%;
        height:100%;
        font-size: 15px;
    }
    .social {
        position:absolute;
        left:240px;
        top:280px;
        width:150px;
    }
    .social .fb {
        margin-left:15px;
    }

    #cart_table  {
        display:none;
    }
     .product_cart1  td  {
        border: 1px solid white;
    }
    .cart_hidden {
        display:block;
        height:100%;
    }
    .product_cart1 {
        margin-top:40px;
    }
    #cart_table1 {
        width:100%;
        border: 1px solid;
    }
    .product_image1 {
        margin-left:10px;
        margin-top:20px;
    }
    .product_name1 {
        margin-left:70px;
        margin-top:-50px;
    }
    .delx {
      margin-left:330px;
      margin-top:-30px;
    }
     .quantity1 {
        margin-left:20px;
        margin-top:40px;
        height:50px;
        width:300px;
     }
     .quantity1 input {
         width:40px;
     }
     .quantity1 input[type='submit']{
        font-size:10px;
        margin-left:5px;
        width:100px;
     }
     .quantity1_form {
        display:flex;
     }
     .gift_select {
        display:flex;
        justify-content: space-between;
        color:orange;
        margin-top:10px;
        font-size:16px;
        width:100%;
        height:100%;
     }
     .gift_select select {
        margin-top:2px;
        height:30px;
        width:120px;
     }
     .gift_select input[type='submit']{
        font-size:12px;
        width:100px;
     }
     .price1 {
        margin-left:220px;
        margin-top:-20px;
    }
     .spoiler_coupon {
        margin-top:70px;
    }
    .spoiler_coupon form input{
        width:150px;
        font-size:12px;
    }
    .spoiler_coupon form input[type=submit] {
        margin-top:2px;
    }
    .trigger.close {
        margin-right:-150px;
        margin-top:5px;
    }

    #total1 {
        min-height:50px;
        max-height:100px;
        margin-top:20px;
        margin-left:180px;
        width:200px;
    }
    #total1 tr td {
        border: 1px solid;
        text-align:center;
    }
    .check_coupon {
        margin-top:10px;
    }
    .coupon_in_cart {
        margin-top:-50px;
        font-size:10px;
    }

    .check_cart {
        margin-top:30px;
    }
    .button {
       font-size:12px;
    }
    a.button {
       font-size:15px;
    }
    a.button.light {
       font-size:14px;
    }
    .tovar_zakaz {
        margin-top:50px;
    }
    .accept {
     max-width:100%;
     display:block;
    }
    .order_h1 {
    margin-top:10px;
        font-size:30px;
    }
    .order-info {
        width:100%;
        padding:5px;
    }
    .order-info ul li {
        font-size:12px;
        margin-left:-20px;
    }
    .tabs {
        width:100%;
        margin-top:10px;
        padding: 5px;
    }

    .detail_table {
        margin-top:10px;
        display:block;
    }
    .product {
        width:100%;
    }
    .product img {
        height:100px;
        width:100px;
        margin-left:-250px;
    }
    .product_name {
       font-size:20px;
       margin-left:120px;
       margin-top:-100px;
    }
    .product_size {
        font-size:20px;
        margin-left:120px;
    }
    .product_subcategory{
        font-size:20px;
        margin-left:120px;
    }

     .product_price {
      font-size:24px;
       margin-left:120px;

     }
      .flavours {
       margin-top:10px;
       width:100%;
    }
    .flavour_table {
        width:100%;
    }

    .flavour_text {
        font-size:12px;
    }

    .tabs_product {
        width:100%;
        margin-top:20px;
    }

    .tabs_product > label {
        display:inline-block;
        width:150px;
        margin-left:4%;
        color:red;
    }

    #table_order_history {
        width:100%;
    }
    .profile {
        width:100%;
    }
    .obj-item img, .article_body img, #content-tab2 img  {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .obj-item {
        margin: 0;
        padding: 0;
        width:45%;
        height:350px;
    }
    .rec {
        color:crimson;
        margin: 30px auto;
    }

    ul.messages li.success,
    ul.messages li.warning,
    ul.messages li.error,
    ul.messages li.info {
        width:100%;
        margin-left:-40px;
        padding:0;
    }
    .plus {
        display:none;
    }
    .item-list {
        width:100%;
    }
    .product_list {
        display:block;
        padding:5px;
        border-radius: 0;
        width:100%;
        height:100%;
    }
    .buy_offer {
        width:100%;
    }
    .buy_offer button[type=submit] {
        height:80px;
        width:300px;
        font-size:20px;
        border-radius: 50px;
        margin-top:50px;
        margin-left:40px;
        margin-right:40px;
    }

     #myFooter  {
        display:block;
        height:400px;
        padding:0;
        flex: 0;
    }
    #myFooter .groups {
         display:block;
         justify-content: center;
        text-align:center;
        border-bottom: 1px solid grey;
        width:100%;
        height:100px;
        margin:0 auto;
        margin-top:10px;
    }
    #myFooter .container{
        width:100%;
        height:100px;
        display:flex;
        justify-content: space-between;
        padding:0;
        margin:0 auto;
        border-bottom: 1px solid grey;
        font-size:10px;
    }
    #myFooter .container p{
        display:none;
    }

    form {
        width:50%;
    }
    label {
        width:100%;
    }
    .form-box {
        width:100%;
        margin-left:15%;
        margin-right:15%;
    }
    .decor {
        width:100%;
    }
    .thanks h2{
        font-size:20px;
    }
    h4{
        font-size:15px;
    }
    #container_form {
        position: fixed;
        bottom:10px;
        right:5px;
    }

    .news_list, .spoiler_news {
        width:100%;
    }
    .podpiska input {
        margin-left:85px;
    }
    .subscribe input {
        height:32px;
        width:170px;
    }
    .delivery_table {
        width:100%;
    }
    .consultation {
        display: none;
    }

    .payment_form input {
        font-size:15px;
        width:100px;
    }
}

@media all and (min-width: 1700px) and (max-width: 2000px) {
    .news {
        display:inline;
    }
}
@media all and (min-width: 1200px) and (max-width: 1450px) {
    .consultation {
        display: none;
    }
}
@media all and (min-width: 300px) and (max-width: 460px) {
    .payment_form {
        margin: 0;
    }
}
