{% extends "shop/base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div id="main">
     <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / Личный кабинет</p>

    {% if messages %}
      <ul class="messages">
       {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
       {% endfor %}
    {% endif %}
      </ul>
    {% if user.first_name %}
        <h1>Профиль ({{ user.first_name }} {{ user.last_name }})</h1>
    {% else %}
        {% if profile.first_name %}
            <h1>Профиль ({{ profile.first_name }} {{ profile.last_name }})</h1>
        {% else %}
            <h1>Профиль ({{ user }})</h1>
        {% endif %}
    {% endif %}


    <p>История заказов:</p>
    <table id="table_order_history">
         <tr>
            <th>Номер заказа</th>
            <th>Ссылка на заказ</th>
            <th>Статус заказа</th>
            <th>Оплата заказа</th>
            <th>Действия с заказом</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                 {{ order.id }}
            </td>
            <td>
                <a href="{{ order.get_absolute_url }}">{{ order.created }}</a><br>
            </td>
             <td>
                 {{ order.status }}
                 {% if order.status == 'Отправлен' %}
                    {% if order.track_number != '' %}
                       <br> Номер отслеживания: {{ order.track_number }}
                    {% endif %}
                {% endif %}
            </td>
            <td style="text-align:center">
                {% if order.paid %}
                    Заказ оплачен!
                {% else %}
                    {% if order.status != 'Отказ' %}
                        Стоимость заказа: {{ order.get_total_cost }} р.
                        Доставка: {{ order.deliver_cost }} р.
                        <form action="{% url 'payment:process' order.id %}" class="payment_form"  method="post">
                            {% csrf_token %}
                            <p><input type="submit" value="Оплатить"></p>
                        </form>
                    {% endif %}
                {% endif %}

            </td>
            <td>

                {% if order.status != 'Отказ' and order.paid == False %}
                {% if order.status != 'Выполнен' and order.paid == False %}
                    <a href="{% url 'orders:deny' order.id %}">Отказаться от заказа Х</a>
                {% endif %}{% endif %}
                {% if order.paid == True %}
                   <a href="{% url 'orders:repeat' order.id %}" style="color:green; font-size:20px;">Повторить заказ</a>
                {% endif %}
<!--                {% if order.status == 'Выполнен' and order.paid == True %}-->
<!--                    <a href="{% url 'orders:repeat' order.id %}">Повторить заказ</a>-->
<!--                {% endif %}-->
            </td>
        </tr>
           {% endfor %}
    </table> <br>
    <p>Отследить перемещение заказа Вы можете на <a href="https://www.pochta.ru/">официальном сайте Почты России</a> </p>
    <p>Подписывайся на нашу <a href="https://vk.com/mrpit.online">группу ВК</a> и получай всегда свежие новости и интересные статьи! </p>
    <br><br>
    <h4>Вы можете изменить данные профиля:</h4>
    <form action="." method="post" class="register_form">
          {{ user_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Сохранить изменения"></p>
    </form><br/>
    <a href="{% url 'password_change' %}">
      <input type="submit" value="Сменить пароль"></a>

</div>
{% endblock %}