{% load static %}
{% load thumbnail %}
{% autoescape off %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <title>{% block title %}{% endblock %}</title>
<!--    &lt;!&ndash; Yandex.Metrika counter &ndash;&gt;-->
<!--    <script type="text/javascript" >-->
<!--       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};-->
<!--       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})-->
<!--       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");-->

<!--       ym(60753694, "init", {-->
<!--            clickmap:true,-->
<!--            trackLinks:true,-->
<!--            accurateTrackBounce:true,-->
<!--            webvisor:true-->
<!--       });-->
<!--    </script>-->
<!--    <noscript><div><img src="https://mc.yandex.ru/watch/60753694" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
<!--    &lt;!&ndash; /Yandex.Metrika counter &ndash;&gt;-->
</head>
<body>

    <div id="header">
         <div class="logo">
             <a href="{% url 'shop:index' %}">
                 <img src="{% static 'img/new_logo2.jpg' %}">
             </a>
         </div>
         <div class="logo1">
             <a href="{% url 'shop:index' %}">
                 ᴍʀᴘɪᴛ.ᴏɴʟɪɴᴇ
             </a>
         </div>


        <div class="header_login">
            <text class="consultation"> Нужна консультация? Оставьте свои контактные данные в
            <a href="{% url 'shop:feedback' %}">форме</a> и мы перезвоним в этот же день!</text>

            {% if request.user.is_authenticated %}
              <a href="{% url 'profile' %}">Личный кабинет</a>
              <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
              <a href="{% url 'register' %}">Регистрация</a>
              <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </div>
    </div>

     <div id="subheader">
         <div class="search">
           <form action="{% url 'shop:search_results' %}" method="get">
               <span class="icon"><i class="fa fa-search"></i> </span>
               <input name="q" type="text" placeholder="Поиск товаров" >
           </form>
             <div class="search1"></div>
         </div>

         <div class="main_cart">
             {% with total_items=cart|length %}
             {% if cart|length > 0 %}
          <a href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Корзина:
                {{ total_items }} шт,
                {{ cart.get_total_price }} р.
          </a>
                {% else %}
          <a href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Корзина</a>

             {% endif %}
            {% endwith %}
         </div>
    </div>


      <nav class="menu">
          <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
          <label for="menu" class="toggleMenu"><i class="fa fa-bars"></i></label>
          <ul class="topmenu">
            <li>
                <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i>Главная</a>
            </li>

            <li>
                <input type="checkbox" name="toggle" class="toggleSubMenu" id="category">
                <a href="#"><i class="fa fa-th-list"></i>Категории</a>
                <label for="category" class="toggleSubMenu"><i class="fa"></i></label>
                <ul>
                    {% for cat in categories %}
                    <li>
                        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                <input type="checkbox" name="toggle" class="toggleSubMenu" id="objective">
                <a href="#"><i class="fa fa-cogs"></i>Цели</a>
                <label for="objective" class="toggleSubMenu"><i class="fa"></i></label>
                <ul>
                    {% for o in objectives %}
                    <li>
                        <a href="{{ o.get_absolute_url }}">{{ o.name }}</a>
                    </li>
                    {% endfor %}
                 </ul>
            </li>

            <li>
                <input type="checkbox" name="toggle" class="toggleSubMenu" id="supplier">
                <a href="#"><i class="fa fa-shopping-cart"></i>Производители</a>
                <label for="supplier" class="toggleSubMenu"><i class="fa"></i></label>
                <ul>
                    {% for s in suppliers %}
                    <li>
                        <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
                    {% endfor %}
                    </li>
                </ul>
            </li>

            <li><a href="{% url 'shop:delivery' %}"><i class="fa fa-truck" aria-hidden="true"></i>Доставка</a></li>
            <li><a href="{% url 'shop:payment' %}"><i class="fa fa-rub" aria-hidden="true"></i>Оплата</a></li>
            <li class="information"><a href="{% url 'shop:info' %}"><i class="fa fa-info" aria-hidden="true"></i>Информация</a></li>
            <li class="news"><a href="{% url 'shop:news' %}"><i class="fa fa-rss"></i>Новости</a></li>
       </ul>
      </nav>


<div class="wrapper">
     {% block content %}{% endblock %}

    <h3 class="rec">Популярные товары</h3>
    <div id="recommendations">
        <div class="slider">
            <div class="slide-list">
                <div class="slide-wrap">
                     {% for product in products_rec %}
                    <div class="slide-item">
                            <a href="{{ product.get_absolute_url }}">
                            <img src="{% thumbnail product.image 150x200 crop %}">
                            </a><br><br>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            <text style="color:orange"> {{ product.size }}</text> <br>
                            {% if product.quantity == 0 %}
                                Под заказ
                            {% else %}
                               {% if product.price2 %}
                                 <s>{{ product.price2 }} р.</s> {{ product.price }} р.
                                    {% else %}
                                {{ product.price }} р.
                                    {% endif %}
                            {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="navy prev-slide"></div>
            <div class="navy next-slide"></div>
        </div>
    </div>
    <div id="container_form">
            <!-- кнопка -->
            <div class="button-wrapper" >
                <div class="layer"></div>
                <button class="main-button">
                    <div class="ripple"></div>
                </button>
            </div>

            <!-- форма -->
            <div class="layered-content">
                <button class="close-button">×</button>
                <div class="form-box">
                    <form class="feedback" action="{% url 'shop:feedback' %}" method="post">
                        <div class="mail"></div>
                        <h2>Задать вопрос</h2>
                        <label>Ваше Имя
                            <input id="name" class="txt" name="name" type="name" required="True" />
                        </label>
                        <label>Ваш Телефон или Email
                            <input id="email" class="txt" name="email" required="True" />
                        </label>
                        <label>Текст сообщения
                            <textarea id="message" class="txtarea" name="message" required="True"></textarea>
                        </label>
                         {% csrf_token %}
                        <input class="send" type="submit" value="Отправить сообщение"/>
                    </form>
                </div>
            </div>
    </div>


    <footer id="myFooter">

        <div class="container">
            <ul>
                <li><a href="{% url 'shop:faq' %}">FAQ</a></li>
                <li><a href="{% url 'shop:news' %}">Новости</a></li>
                <li><a href="{% url 'shop:info' %}">Информация</a></li>
                <li><a href="{% url 'shop:articles' %}">Полезные статьи</a></li>
                <li><a href="{% url 'shop:feedback' %}">Связаться с нами</a></li>
            </ul>
            <p><a href="#" class="text-left"> Copyright ©2010-2020 Все права защищены</a></p>
        </div>

        <div class="groups">
            <p style="color:#454547">Мы в социальных сетях</p>
            <a href="https://vk.com/mrpit.online"><i class="fab fa-vk"></i></a>
            <a href="https://www.youtube.com/channel/UC0ky9bJt9ht8iA0yRvFbpzA"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/mrpit.online/"><i class="fab fa-instagram"></i></a>
            <a href="https://ok.ru/group/57302511845550"><i class="fab fa-odnoklassniki"></i></a>
        </div>
    </footer>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script>
    document.querySelector('.button-wrapper').onclick = function() {
    document.getElementById('container_form').style.width = '300px';
    document.getElementById('container_form').style.height = '500px';
    }

    document.querySelector('.close-button').onclick = function() {
    document.getElementById('container_form').style.width = '85px';
    document.getElementById('container_form').style.height = '85px';
    }
    </script>

</body>
</html>
{% endautoescape %}