{% extends 'shop/base.html' %}
{% load thumbnail %}
{% block title %} Информация о сайте {% endblock %}
{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> /Сертификаты</p>

    <p>На каждую спортивную добавку имеет официальный сертификат, который по предварительному заявлению клиента может быть
        распечатан и представлен при продаже.</p>
    <p>Ниже по ссылке Вы найдёте сертификаты на основной перечень продаваемых товаров.</p>

    <p><a href="https://www.dropbox.com/sh/k02v4lhpzoogu05/AABQexB-I_Wz8O3lIMqAFCvKa?dl=0">Перейти по ссылке</a></p>

</div>
{% endblock %}