{% extends 'shop/base.html' %}
{% load thumbnail %}
{% block title %} Информация о доставке {% endblock %}
{% block content %}
<div id="main">
        {% if messages %}
          <ul class="messages">
           {% for message in messages %}
            <li class="{{ message.tags }}">
              {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
           {% endfor %}
          </ul>
        {% endif %}
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / Доставка</p>

    <h2>Доставка по России</h2>
    <p>Отправляем заказы по всей территории Российской Федерации. Доставка производится с центрального склада в г. Перми </p>
    <p>Работаем с  <a href="https://www.pochta.ru/parcels">Почтой России</a> и другими перевозчиками</p>
    <p>Стоимость доставки не включена в стоимость товара и зависит от веса заказа и адреса конечного назначения.
        Для расчета воспользуйтесь калькулятором: </p>
        <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
            <input type="submit" name="form" value="Рассчитать">
        </form> <br>
        {% if value %}
            <p style="color:crimson"> Стоимость доставки при массе посылки с упаковкой = 2 кг составит: {{ value }} </p>
        {% endif %}
    <p>Отправка заказов осуществляется в рабочие дни.</p>
    <p>Если Вы желаете получить посылку через транспортную компанию или иной сервис, укажите это в комментарии при заказе.</p>
    <p>Многие транспортные компании предоставляют возможность оплаты своих услуг при получении отправлений.</p>
    <p>В этом случае мы не включаем стоимость доставки в счет заказа, а саму услугу пересылки заказа Вы сможете отдельно оплатить при получении посылки в транспортной компании.</p>

    <h2>Доставка в г. Пермь</h2>
    <p>Курьерская доставка в пределах города Пермь:</p>

    <p style="color:crimson">Срок доставки:</p>

    <p>Доставим заказ в тот же день при его оформлении до 18:00 ПРМ;</p>
    <p>Доставим заказ в любой день и время на Ваше усмотрение.</p>
    <p style="color:crimson">Стоимость доставки:</p>

    <p>200 руб. в пределах зеленой зоны</p>
    <p>400 руб в пределах оранжевой зоны</p>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae781a01b1bcf8d0b3ddf857935faa0340c83062350eccec952aedd8568884eff&amp;width=513&amp;height=366&amp;lang=ru_RU&amp;scroll=true"></script>
    <h3>Как получить бесплатную доставку?</h3>
    <p>Вы можете получить скидку на доставку в случае, если Ваша закупка превысит 5000р. Ниже в таблице Вы найдете данные по льготной доставке</p>
    <table class="delivery_table">
        <tr>
            <th></th>
            <th>Центральные районы*</th>
            <th>Отдаленные районы*</th>
        </tr>
        <tr>
            <td>Сумма заказа более 15000 руб</td>
            <td>Бесплатно</td>
            <td>Бесплатно</td>
        </tr>
        <tr>
            <td>Сумма заказа от 5000 до 15000 руб</td>
            <td>Бесплатно</td>
            <td>200 р</td>
        </tr>
        <tr>
            <td>Сумма заказа менее 5000 руб</td>
            <td>200 р</td>
            <td>400 р</td>
        </tr>
    </table>
    * - список центральных и отдаленных районов г. Перми
                <a href="#spoiler-open-1" id="spoiler-open-1" class="trigger open">Какие районы считаются отдаленными?</a>
                <a href="#spoiler-close-1" id="spoiler-close-1" class="trigger close">Закрыть форму</a>
                <div class="spoiler">
                    <p style="color:crimson">Индустриальный - центр. район</p>
                    <p style="color:crimson">Ленинский - центр. район</p>
                    <p style="color:crimson">Кировский - отдал. район</p>
                    <p style="color:crimson">Мотовилихинский:</p>
                    Горки - центр. район<br>
                    Архиерейка - отдал. район<br>
                    Верхняя Курья - отдал. район<br>
                    Висим - отдал. район<br>
                    Вышка 1 - отдал. район<br>
                    Вышка 2 - отдал. район<br>
                    Гарцы - отдал. район<br>
                    Запруд - отдал. район<br>
                    Ива - отдал. район<br>
                    Костарево - отдал. район<br>
                    Пихтовая стрелка - отдал. район<br>
                    Рабочий поселок - отдал. район<br>
                    Садовый - отдал. район<br>
                    Сельскохозяйственная опытная станция - отдал. район<br>
                    Язовая - отдал. район<br><br>
                    <p style="color:crimson">Дзерджинский:</p>
                    Железнодорожный - отдал. район<br>
                    Заимка - центр. район<br>
                    Данилиха - центр. район<br>
                    Заостровка - центр. район<br>
                    Красный октябрь - центр. район<br>
                    Окуловский - отдал. район<br>
                    Парковый - центр. район<br>
                    Пролетарский - отдал. район<br>
                    Центр 2 - центр. район<br><br>
                    <p style="color:crimson">Свердловский:</p>
                    Владимирский - отдал. район<br>
                    Голый мыс - отдал. район<br>
                    Громова - центр. район<br>
                    Зеленое хозяйство - центр. район<br>
                    Краснова - центр. район<br>
                    Крохалева - отдал. район<br>
                    Липовая гора - отдал. район<br>
                    Новобродовский - отдал. район<br>
                    Новый Ляды - отдал. район<br>
                    Островского - центр. район<br>
                    Промзона - отдал. район<br>
                    Свердлова - центр. район<br>
                    Центр - центр. район<br>
                    Юбилейный - отдал. район<br>
                    Южный - отдал. район<br>
                </div>

    <h4 style="color:crimson">Остались вопросы?</h4>
    <p>Если у Вас остались какие-либо вопросы, воспользуйтесь разделом <a href="{% url 'shop:faq' %}">FAQ</a> </p>
    <p>Также Вы можете связаться с нами через  <a href="{% url 'shop:feedback' %}">Форму обратной связи</a> </p>
</div>

{% endblock %}

