{% extends 'shop/base.html' %}
{% block title %} FAQ {% endblock %}
{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / FAQ</p>
    <h1>Часто задаваемые вопросы</h1>

    <p style="color:crimson">У вас есть физический магазин?</p>
    <p>Нет, мы работаем только онлайн. Есть склад в г. Пермь, с которого осуществляется доставка, самовывоз</p>

    <p style="color:crimson">Сколько стоит доставка?</p>
    <p> Вы можете ознакомиться со всеми вариантами доставки, а также с возможностью получить льготную доставку по ссылке
    <a href="{% url 'shop:delivery' %}">Доставка</a></p>

    <p style="color:crimson">Могу ли я вернуть товар?</p>
    <p>Спортивное питание является продовольственным товаром. Согласно закону РФ «О защите прав потребителей» продовольственные товары надлежащего качества не подлежат возврату и обмену.</p>

    <p> Обмен и возврат непродовольственного товара надлежащего качества (одежда, аксессуары) возможен в течение семи дней со дня покупки
    (в соответствии со статьей 25 закона РФ "О защите прав потребителей", за исключением товаров перечисленных в постановлении Правительства Российской Федерации
    от 19 января 1998 г. N55, редакция от 20 октября 1998 года). Для обмена товара необходимо предъявить изделие, сохранившее исходный товарный вид, в оригинальной упаковке, товарно-кассовый чек.</p>
    <p> Также согласно закону РФ «О защите прав потребителей» ёмкости для спортивного питания и воды не подлежат обмену и возврату.</p>

    <p style="color:crimson">Можно оплатить товар перед доставкой?</p>
    <p>Ознакомиться со всеми вариантами оплаты Вы можете по ссылке <a href="{% url 'shop:payment' %}">Оплата</a></p>

    <p style="color:crimson">Как мне выбрать товар, если я не понимаю в спортивном питании?</p>
    <p>Вы можете ознакомиться с разделом <a href="{% url 'shop:objective_list' 'dlya-nachinayushih' %}"> Для начинащих </a>
    <p> Также Вы можете ознакомиться со статьями от профессионалов по ссылке <a href="{% url 'shop:articles' %}">Полезные статьи</a>
    <br><br><br>
    <p>Остались вопросы? Спросите нас через <a href="{% url 'shop:feedback' %}">форму обратной связи</a></p>
</div>

{% endblock %}
