{% extends 'shop/base.html' %}

{% block title %} Форма обратной связи{% endblock %}

{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / Форма обратной связи</p>
    <p>Уважаемые посетители нашего сайта! Всю доступную информацию Вы можете получить в блоке <a href="{% url 'shop:info' %}">Информация</a></p>
    <p>Если у Вас остались вопросы, пожалуйста, заполните форму ниже:</p>
    <form action="{% url 'shop:feedback' %}" class="decor" method="post">
      <div class="form-inner">
          <h3>Написать нам</h3>
          <label for="name">Тема:</label>
          <input id="name" name="name" placeholder="Ваше имя" required="True">

          <label for="email">E-mail:</label>
          <input id="email" name="email" placeholder="Ваш e-mail" required="True">

          <label for="message">Сообщение:</label>
          <textarea id="message" name="message" placeholder="Введите ваше сообщение" required="True"></textarea>

              {% csrf_token %}
          <input type="submit" value="Отправить сообщение"/>
      </div>
    </form>
</div>

{% endblock %}