{% extends 'shop/base.html' %}

{% block title %} Форма обратной связи{% endblock %}

{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / Обратная связь</p>
    <h2>Форма обратной связи</h2>

    <form action="{% url 'shop:feedback' %}" method="post">

      <label for="theme">Тема:</label>
      <input id="theme" name="subject" placeholder="Тема">

      <label for="email">E-mail:</label>
      <input id="email" name="email" placeholder="Ваш e-mail">

      <label for="message">Сообщение:</label>
      <textarea id="message" name="message" placeholder="Введите ваше сообщение"></textarea>

          {% csrf_token %}
      <input type="submit" value="Отправить сообщение"/>
    </form>
</div>

{% endblock %}