{% extends 'shop/base.html' %}
{% load thumbnail %}
{% block title %} Информация о сайте {% endblock %}
{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / Информация о сайте</p>

    <p> Онлайн-магазин <text style="color:crimson">MrPit.online</text> – специализированный магазин спортивного питания и фитнесс аксессуаров, существующий на рынке с 2010 года.</p>
    <p> Ранее компания позиционировалась только на физических магазинах в разных городах страны. С 2020 года мы решили вывести компанию исключительно в онлайн.</p>
    <p style="color:crimson">Особенности нашей торговой онлайн-площадки:</p>

    <p>- Низкие цены на спортивное питание;</p>
    <p>- Качественный и быстрый сервис обслуживания клиентов;</p>
    <p>- Онлайн магазин спортивного питания, охватывающий всю географию Россию по доставке.</p><br>
    <p>Мы предлагаем широкий выбор продуктов спортивного питания, прошедших государственную регистрацию и включающих такие категории как:
        протеин, гейнеры, бцаа, аминокислоты, креатин, жиросжигатели, витамины и минералы, жирные кислоты и др. от ведущих мировых производителей.</p>

    <p>Наша цель – предложить качественное спортивное питание по наиболее выгодной цене.</p>
    <p>Мы работаем только с проверенными поставщиками и брендами спортивного питания: Be First, CYBERMASS, Mutant, Nutrex, Maxler, Optimum Nutrition, Solvie.</p>

    <p>Благодаря огромному количеству информации по товарам, статьям от профессионалов Вы сможете найти для себя максимально подходящую продукцию,
        исходя из индивидуальных особенностей и поставленных целей.</p>
    
     <p>Мы ценим Ваш выбор и настроены на долгосрочное доверительное сотрудничество. Мы всегда открыты к диалогу и рады Вашим предложениям.</p>

    <p> Мы продаём только проверенное спортивное питание, прошедшее санитарно-эпидемиологическую проверку и имеющее сертификаты для продажи на территории РФ. </p>
    <p> Все сертификаты Вы найдете по ссылке <a href="{% url 'shop:certificate' %}">Сертификаты</a></p>
    <p> Информацию по доставке Вы можете получить в блоке <a href="{% url 'shop:delivery' %}">Доставка</a></p>
    <p> Юридическую информацию по компании Вы можете получить в блоке <a href="{% url 'shop:requisites' %}">Реквизиты компании</a></p>
    <p> Информацию по всем способам оплаты Вы можете получить в блоке <a href="{% url 'shop:payment' %}">Оплата</a></p>
    <p> Все частые вопросы Вы можете найти в разделе <a href="{% url 'shop:faq' %}">FAQ</a></p>
    <p> Вы всегда можете дать обратную связь по форме: <a href="{% url 'shop:feedback' %}">Обратная связь</a>
</div>

{% endblock %}

