{% extends 'shop/base.html' %}

{% block title %} Информация об оплате {% endblock %}
{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / Оплата</p>
    <h3>На нашем сайте существует несколько форм оплаты</h3>
    <h4 style="color: crimson">Оплата по карте через Интернет-эквайринг (партнер Яндекс-кассы):</h4>
    <p>1) После совершения заказа и указания адреса доставки система перенаправляет пользователя в личный кабинет
        (доступен только зарегистрированным пользователям)</p>
    <p>2) Из личного кабинета можно оплатить заказ. Пользователя перенаправляет на страницу оплаты https://kassa.yandex.ru/</p>
    <p>3) Пользователь вводит данные карты и оплачивает стоимость товара и доставки. Чек при этом высылается на электронную почту.</p>

    <h4 style="color: crimson">Оплата наличными или картой курьеру при заказе и доставке в г. Пермь:</h4>
    <p>1) После совершения заказа и указания адреса доставки в г. Пермь система перенаправляет пользователя в личный кабинет
        (доступен только зарегистрированным пользователям)</p>
    <p>2) Менеджер связывается с Клиентом и уточняет время доставки товара</p>
    <p>3) При встрече Клиент оплачивает курьеру стоимость товара и доставки наличными или по карте. Чек при этом высылается на электронную почту.</p>
</div>

{% endblock %}

