{% extends 'shop/base.html' %}

{% block title %} Обращение получено! {% endblock %}

{% block content %}
<div id="main">
    <p><a href="{% url 'shop:index' %}">MrPiT.online</a> / <a href="{% url 'shop:feedback' %}">Форма обратной связи</a>
       / Обращение получено!</p>
    <div class="thanks">
        <h2>Спасибо за Ваше обращение! </h2><br>
        <h4>В течении рабочего дня Вам перезвонит или ответит наш Специалист.</h4><br>
    </div>
    <p>Подписывайтеся на нашу группу <a href="https://vk.com/mrpit.online">Вконтакте</a> для того, чтобы всегда быть в курсе событий нашего магазина. </p>
    <p>Вернуться на <a href="{% url 'shop:index' %}">Главную</a> </p>
</div>

{% endblock %}

