{% extends "shop/base.html" %}

{% block content %}
<div id="main">
    <form method="post" action="https://pay.modulbank.ru/pay">

        <input type="hidden" name="testing" value="1">

        <input type="hidden" name="order_id" value="{{ order.id }}">

        <input type="hidden" name="amount" value="{{ amount }}">

        <input type="hidden" name="merchant" value="{{ merchant }}">

        <input type="hidden" name="signature" value="{{ signature }}">

        <input type="hidden" name="description" value="Заказ c магазина https://mrpit.online">

        <input type="hidden" name="success_url" value="https://mrpit.online">

        <input type="hidden" name="receipt_contact" value="admin@mrpit.online">

        <input type="hidden" name="unix_timestamp" value="{{ unix_timestamp }}">

        <input type="submit" value="Отправить платеж">

    </form>
 </div>
{% endblock %}