{% extends "shop/base.html" %}

{% block title %}Оплата заказа{% endblock %}

{% block content %}
<div id="main">
    <!--Подключение библиотеки-->
    <script src="https://kassa.yandex.ru/checkout-ui/v2.js"></script>

    <!--HTML-элемент, в котором будет отображаться платежная форма-->
    <div id="payment-form"></div>

    <script>
    //Инициализация виджета. Все параметры обязательные.
    const checkout = new window.YandexCheckout({
        confirmation_token: 'test_u651SuGAV4prh_qhRk7OE1DvaboIciuK48ixpS7MBzg', //Токен, который перед проведением оплаты нужно получить от Яндекс.Кассы
        return_url: 'https://mrpit.online', //Ссылка на страницу завершения оплаты
        error_callback(error) {
            //Обработка ошибок инициализации
        }
    });

    //Отображение платежной формы в контейнере
    checkout.render('payment-form');
    </script>
</div>
{% endblock %}